Package: net.ymlab.dev.FPTweak
Name: FPTweak
Version: 1.0-3
Description: 支付宝、微信开启指纹支付。
Section: Tweaks
Depends: firmware (>= 7.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: h4ck
dev: 
Homepage: https://ymlab.net
Depiction: 
Maintainer: 
Icon: 

